<!-- Header Start -->
<div class="td_rq_header-nav td-header-nav">
  <!-- Desktop Header START -->
  <header class="td-header-desktop">
    <!-- Desktop utility toggle START -->
    <div class="td-utility-toggle">
      <div class="td-container">
        <div class="td-section-right">
          <div class="td-segments">
            <ul>
              <li><a href="">Sitemap</a></li>
              <li><a>|</a></li>
              <li><a href="">Switch To Español</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop utility toggle END -->
    <!-- Desktop primary nav START -->
    <div class="td-nav-primary">
      <div class="td-container">
        <div class="td-section-left">
          <div class="td-logo">
            <a [routerLink]="'/'"
              ><img src="../assets/img/header-nav/td-logo.png" /></a
            >AUTO FINANCE
          </div>
          <nav>
            <ul>
              <li><a href="#">Find a dealer</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="td-section-right">
          <div class="td-quick-access">
            <ul>
              <li class="find-us">
                <a href="#"
                  ><span class="td-icon"></span
                  ><span class="td-label">Find a dealer</span></a
                >
              </li>
              <li class="help">
                <a href="#"
                  ><span class="td-icon"></span
                  ><span class="td-label">Help</span></a
                >
              </li>
              <li class="search">
                <a href="#" class="td-desktop-search-show-btn"
                  ><span class="td-icon"></span
                  ><span class="td-label">Search</span></a
                >
              </li>
              <li class="divider">
                <div class="td-divider-line"></div>
              </li>
              <li class="login">
                <a
                  [routerLink]="'/login'"
                  class="td-show-label"
                  aria-haspopup="true"
                  aria-expanded="false"
                  id="td-desktop-nav-dropdown-link-4"
                  ><span class="td-icon"></span
                  ><span class="td-label">Login</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="td-nav-desktop-search">
          <div class="td-search-container">
            <form class="td-search-box">
              <input
                type="text"
                placeholder="Search"
                name="search"
                class="td-search-input"
                aria-label="Search"
              />
              <span class="td-search-icon" aria-hidden="true"
                ><span class="td-icon"></span
              ></span>
              <input type="submit" class="td-search-submit" value="search" />
            </form>
            <button type="button" class="td-desktop-search-hide-btn">
              <span class="td-forscreenreader">Close Search</span
              ><span class="td-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop primary nav END -->
  </header>
  <!-- Desktop Header END -->

  <!-- Mobile Header START -->
  <header class="td-header-mobile">
    <div class="td-container">
      <div class="td-section-left">
        <button
          type="button"
          class="td-mobile-action-button td-mobile-menu-button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="td-mobile-menu-button-icon" (click)="toggle()">
            <span class="td-forscreenreader">Open menu</span>
            <span class="icon-bar" aria-hidden="true"></span>
            <span class="icon-bar" aria-hidden="true"></span>
            <span class="icon-bar" aria-hidden="true"></span>
          </div>
          <div class="td-logo">
            <a [routerLink]="'/'">
              <img
                src="../assets/img/header-nav/td-logo.png"
                srcset=""
                alt="TD Canada Trust"
              />
            </a>
          </div>
        </button>
        <button
          type="button"
          class="td-mobile-action-button td-mobile-back-button"
          onclick="history.back();"
        >
          <div class="td-mobile-back-button-icon">
            <span class="td-icon"></span
            ><span class="td-forscreenreader">Back</span>
          </div>
        </button>
      </div>
      <div class="td-section-right">
        <button
          type="button"
          class="td-mobile-action-button td-login"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLink]="'/login'"
        >
          <span class="td-icon login"></span>

          <span class="label">Login</span>
        </button>
      </div>
    </div>
  </header>

  <!-- Mobile Header END -->

  <!-- Mobile Off-canvas Menu START -->

  <div class="td-nav-mobile" [ngStyle]="open ? { display: 'block' } : {}">
    <!-- Primary mobile menu START -->
    <div
      class="td-nav-mobile-menu td-nav-mobile-menu-primary"
      [ngStyle]="open ? { display: 'block', left: '0px' } : {}"
    >
      <span tabindex="0"></span><span tabindex="0"></span>
      <div class="td-nav-mobile-menu-top">
        <div class="td-nav-mobile-menu-header">
          <div class="td-logo">
            <a [routerLink]="'/'"
              ><img
                src="../assets/img/header-nav/td-logo.png"
                srcset=""
                alt="TD Canada Trust"
            /></a>
          </div>
          <button type="button" class="td-mobile-menu-close" (click)="toggle()">
            <span class="td-forscreenreader" aria-hidden="">Close Menu</span
            ><span class="td-icon" aria-hidden="true"></span>
          </button>
        </div>
        <div class="td-nav-mobile-menu-search">
          <form class="td-search-box">
            <input
              type="text"
              placeholder="Search"
              name="search"
              class="td-search-input"
              aria-label="Search"
            />
            <span class="td-search-icon"
              ><span class="td-icon" aria-hidden="true"></span
            ></span>
            <input type="submit" class="td-search-submit" value="search" />
          </form>
        </div>
      </div>
      <nav>
        <ul class="td-nav-mobile-menu-list">
          <li class="td-nav-mobile-menu-item td-item-nav-link item-home active">
            <a href="#"><span class="td-icon td-icon-homepage"></span>Home</a>
          </li>
          <li class="td-nav-mobile-menu-item td-item-nav-link item-my-TD">
            <a href="#"><span class="td-icon td-icon-myTD"></span>About Us</a>
          </li>
          <li class="td-nav-mobile-menu-item td-item-nav-link item-how-to">
            <a href="#"
              ><span class="td-icon td-icon-howTo"></span>Find a dealer</a
            >
          </li>

          <li class="td-nav-mobile-menu-item td-item-nav-link item-find-us">
            <a href="#"
              ><span class="td-icon td-icon-location"></span>Find Us</a
            >
          </li>
          <li
            class="td-nav-mobile-menu-item td-item-nav-link td-item-nav-link-last item-help-me"
          >
            <a href="#"><span class="td-icon td-icon-help"></span>Help Me</a>
          </li>
          <li
            class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language"
          >
            <a href="#" aria-expanded="false" role="button"
              >Language: English<span class="td-icon expand"></span
              ><span class="td-icon collapse"></span
            ></a>
            <ul class="td-accordion-content">
              <li lang="en" class="active">
                <a href="#"
                  >English<span
                    class="td-icon selected"
                    aria-hidden="true"
                  ></span
                  ><span class="td-forscreenreader">Selected</span></a
                >
              </li>
              <li lang="zh-Hans"><a href="#">Español</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <span tabindex="0"></span>
      <span tabindex="0"></span>
    </div>
    <div class="td-nav-mobile-overlay"></div>
  </div>

  <!-- Mobile Off-canvas Menu END -->
</div>
<!-- Header End -->
