<div class="td_rq_tooltip">
  <div
    class="td_rq_popover td-contentarea"
    role="main"
    id="main"
    style="padding-top: 100px"
    tabindex="-1"
  >
    <div
      class="td-app-container ng-isolate-scope"
      td-ui-background-image=""
      aria-hidden="false"
    >
      <div
        ui-view=""
        td-ui-container="fluid"
        class="ng-scope td-container-fluid"
      >
        <div class="td-once-login-app ng-scope" role="main">
          <section
            class="td_rq_tools-swipe td-product-illustration-cta td-product-cta-1"
          >
            <div
              class="td-icon-wrapper td-interactive-icon icon-regular form-title"
            >
              <span class="td-icon td-icon-avatar"></span>
            </div>
            <div class="form-title">
              <h3 id="unique-title-11-4-1" class="td-product-title-forget">
                Reset your password
              </h3>
            </div>
            <div class="td-row">
              <div class="td-col-xs-12">
                <hr class="td-thin-divider-line-1 form-title" />
              </div>
            </div>
            <div class="form-title">
              <h3 class="sub-heading-forgot">
                Let's make a brand new password
              </h3>
            </div>
          </section>
          <div class="input-form">
            <div class="col-12 col-sm-6 form-group">
              <label>Username</label>
              <input
                name="Username"
                type="text"
                class="form-control"
                id="exampleTextS"
                placeholder="Enter your username"
              />
              <label class="form-title">Social Security Number</label>
              <input
                name="Social Security Number"
                type="text"
                class="form-control"
                id="exampleTextS"
                placeholder="Please enter the last 4 digits of the SSN"
              />
            </div>
          </div>
          <div class="input-form">
            <div class="col-5 col-sm-2 col-md-2 col-lg-3">
              <button
                class="btn btn-block td-btn-secondary-clear"
                (click)="backClicked()"
              >
                Cancel
              </button>
            </div>
            <div class="col-5 col-sm-2 col-md-2 col-lg-3">
              <button class="btn btn-block td-btn-primary-light">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <a
        href="#main"
        class="td_rq_link-to-top"
        tabindex="-1"
        aria-hidden="true"
        style="right: 0px"
      >
        <span class="left">
          <span class="td-forscreenreader">Back to top</span>
          <span
            class="td-icon td-icon-upCaret td-copy-green icon-small"
            aria-hidden="true"
            tabindex="-1"
          ></span>
          <span class="text" aria-hidden="true" tabindex="-1">Top</span>
        </span>
      </a>
    </div>
  </div>
</div>
