<!-- Footer Start -->
<footer role="contentinfo" class="td-fullwidth-dark-green td-padding-vert-0">
  <div class="td-container">
    <div class="td-row">
      <div class="td-footer-content td-col-xs-12">
        <p class="td-footer-heading td-copy-white td-copy-align-centre">
          Need to talk to us directly?<a
            href="contact-us.html"
            class="td-contact-link td-link-nounderline td-link-standalone"
            >Contact
            <span class="td-link-lastword"
              >us<span
                class="td-icon td-icon-rightCaret"
                aria-hidden="true"
              ></span></span
          ></a>
        </p>
        <div class="td-footer-links td-copy-align-centre td-copy-white">
          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >Terms of use</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >NMLS 4970</a
          >

          <a
            target="_blank"
            class="td-copy-white td-link-nounderline td-copy-standard"
            href="#"
            >Privacy</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >California Privacy</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >About us</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >Accessibility</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >Sitemap</a
          >

          <a
            class="td-copy-white td-link-nounderline td-copy-standard"
            target="_blank"
            href="#"
            >Feeback</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="td-row">
    <div class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-no-padding">
      <hr class="td-thin-divider-line-footer" />
    </div>
  </div>
  <div class="td-row td-footer-legal-content">
    <div
      class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2 td-no-padding"
    >
      <p class="input-form">
        ©2021 TD Auto Finance LLC, N.A. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
<!-- Footer End -->
