.wizard,
.tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a,
.tabcontrol a {
  outline: 0;
}

.wizard ul,
.tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li {
  display: block;
  padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}

/*
    Wizard
*/

.wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}

.wizard.vertical > .steps {
  display: inline;
  float: left;
  width: 30%;
}

.wizard > .steps .number {
  font-size: 1.429em;
}

.wizard > .steps > ul > li {
  width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
  float: left;
}

.wizard.vertical > .steps > ul > li {
  float: none;
  width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
  background: #2184be;
  color: #fff;
  cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
  background: #9dc8e2;
  color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
  background: #ff3111;
  color: #fff;
}

.wizard > .content {
  background: #eee;
  display: block;
  margin: 0.5em;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  width: auto;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard.vertical > .content {
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 65%;
}

.wizard > .content > .body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.wizard > .content > .body ul {
  list-style: disc !important;
}

.wizard > .content > .body ul > li {
  display: list-item;
}

.wizard > .content > .body > iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}

.wizard > .content > .body input {
  display: block;
  border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"] {
  display: inline-block;
}

.wizard > .content > .body input.error {
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

.wizard > .content > .body label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.wizard > .content > .body label.error {
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em;
}

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard.vertical > .actions {
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}

.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
}

.wizard > .actions > ul > li {
  margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li {
  margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background: #2184be;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  background: #eee;
  color: #aaa;
}

.wizard > .steps > ul {
  margin-left: -0.5em;
  margin-right: -0.5em;
  display: flex;
}
.wizard > .steps > ul li {
  float: none;
  display: block;
  width: auto;
}
.wizard > .steps > ul li .title {
  display: none;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .wizard > .steps > ul li .title {
    display: block;
  }
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
  color: #adb5bd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
@media (min-width: 1200px) {
  .wizard > .steps a,
  .wizard > .steps a:hover,
  .wizard > .steps a:active {
    justify-content: flex-start;
  }
}
.wizard > .steps a .number,
.wizard > .steps a:hover .number,
.wizard > .steps a:active .number {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #adb5bd;
  border-radius: 50px;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
  background-color: #e9ecef;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
  background-color: #3b6998;
}
.wizard > .steps .current a .number,
.wizard > .steps .current a:hover .number,
.wizard > .steps .current a:active .number {
  border-color: #fff;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
  background-color: #20c997;
}
.wizard > .steps .done a .number,
.wizard > .steps .done a:hover .number,
.wizard > .steps .done a:active .number {
  border-color: #fff;
}
.wizard > .content {
  background-color: #e9ecef;
  margin: 0.5em 0;
  min-height: 150px;
  border-radius: 0;
}
.wizard > .content > .body {
  float: none;
  position: static;
  width: auto;
  height: auto;
  padding: 40px;
}
.wizard > .content > .body input.parsley-error {
  border-color: #dc3545;
}
.wizard > .content > .body input.parsley-error + ul {
  list-style: none !important;
}
.wizard > .actions {
  padding-top: 0.5em;
}
.wizard > .actions > ul {
  margin-left: -0.5em;
  margin-right: -0.5em;
  display: flex;
  justify-content: space-between;
}
.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background-color: #3b6998;
  padding: 9px 20px;
  line-height: 1.6;
  border-radius: 0;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  background-color: #e9ecef;
}
.wizard.vertical > .steps {
  padding-right: 1em;
  width: 25%;
}
@media (min-width: 480px) {
  .wizard.vertical > .steps {
    width: 17%;
  }
}
@media (min-width: 768px) {
  .wizard.vertical > .steps {
    width: 12%;
  }
}
@media (min-width: 1200px) {
  .wizard.vertical > .steps {
    width: 30%;
  }
}
.wizard.vertical > .steps ul {
  flex-direction: column;
}
.wizard.vertical > .steps ul li + li {
  margin-top: 0.5em;
}
@media (min-width: 768px) {
  .wizard.vertical > .steps ul li .title {
    display: none;
  }
}
@media (min-width: 1200px) {
  .wizard.vertical > .steps ul li .title {
    display: block;
  }
}
.wizard.vertical > .content {
  margin: 0;
  width: 75%;
  min-height: 250px;
  display: block;
  float: none;
}
@media (min-width: 480px) {
  .wizard.vertical > .content {
    width: 83%;
  }
}
@media (min-width: 768px) {
  .wizard.vertical > .content {
    width: 88%;
  }
}
@media (min-width: 1200px) {
  .wizard.vertical > .content {
    width: 70%;
  }
}
.wizard.vertical > .actions {
  float: none;
}
.wizard.vertical > .actions ul {
  float: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: -0.5em;
}
.wizard.vertical > .actions ul li:first-child {
  margin-left: 25%;
}
@media (min-width: 480px) {
  .wizard.vertical > .actions ul li:first-child {
    margin-left: 17%;
  }
}
@media (min-width: 768px) {
  .wizard.vertical > .actions ul li:first-child {
    margin-left: 12%;
  }
}
@media (min-width: 1200px) {
  .wizard.vertical > .actions ul li:first-child {
    margin-left: 30%;
  }
}
