<div class="td_rq_tooltip">
  <div
    class="td_rq_popover td-contentarea"
    role="main"
    id="main"
    style="padding-top: 63px"
    tabindex="-1"
  >
    <div
      class="td-app-container ng-isolate-scope"
      td-ui-background-image=""
      aria-hidden="false"
      style="
        background: url(../assets/img/login-background.png);
        -web-kit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
      "
    >
      <div
        ui-view=""
        td-ui-container="fluid"
        class="ng-scope td-container-fluid"
      >
        <div class="row d-flex justify-content-center mt-5 mb-5 ml-3 mr-3">
          <div class="col-md-5 mt-5 mb-5">
            <section class="card-login">
              <div class="card-login-body">
                <form>
                  <h1 class="h2 mb-3 text-center">Welcome!</h1>
                  <input
                    name="Email Address"
                    type="text"
                    class="form-control"
                    id="exampleText"
                    placeholder="Enter your email address"
                  />
                  <input
                    name="Password"
                    type="text"
                    class="form-control"
                    id="inputpassword"
                    placeholder="Enter your password"
                    style="margin-top: 32px"
                  />
                  <button class="btn btn-block td-btn-primary-light login-form">
                    Login
                  </button>
                  <div class="add-on">
                    <a
                      [routerLink]="'/forgot-username'"
                      class="td-link-standalone"
                      >Forget
                      <span
                        data-msg="Link Icon Chevron"
                        class="td-link-lastword"
                        ><span class="td-link-lastword">Username</span></span
                      ></a
                    >
                    <a href="#">/</a>
                    <a
                      [routerLink]="'/forgot-password'"
                      class="td-link-standalone"
                      >Forgot
                      <span
                        data-msg="Link Icon Chevron"
                        class="td-link-lastword"
                        ><span class="td-link-lastword">Password</span></span
                      ></a
                    >
                  </div>
                  <div class="add-on">
                    <strong>Not a member yet?</strong>
                    <a
                      href="javascript:void(0);"
                      onclick="$('#termsConditions').tdModal({'show':true});"
                      class="td-link-standalone"
                      >Register
                      <span
                        data-msg="Link Icon Chevron"
                        class="td-link-lastword"
                        ><span class="td-link-lastword"
                          >Now!<span
                            class=""
                            aria-hidden="true"
                          ></span></span></span
                    ></a>
                    <div class="add-on">
                      <strong>
                        <hr />
                      </strong>
                    </div>
                    <div class="add-on">
                      <strong></strong
                      ><a href="#" class="td-link-standalone"
                        >Protect Yourself
                        <span class="td-link-lastword"
                          >against fraud
                          <span class=""
                            >fraud<span
                              class="td-icon td-icon-rightCaret"
                              aria-hidden="true"
                            ></span></span></span
                      ></a>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
