@font-face {
  font-family: "icons";
  /* src: url("./icons.eot?2bkkle"); */
  src: url("./icons.woff2?2bkkle") format("woff2");

  /* url("./icons.eot?2bkkle#iefix") format("embedded-opentype"), 
 url("./icons.ttf?2bkkle") format("truetype"),
    url("./icons.woff?2bkkle") format("woff"),
    url("./icons.svg?2bkkle#icons") format("svg"); */
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.td-icon {
  font-family: "icons" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.td-icon-overdraftProtection:before {
  content: "";
}
.td-icon-mixedPortfolio:before {
  content: "";
}
.td-icon-exit:before {
  content: "";
}
.td-icon-balance:before {
  content: "";
}
.td-icon-dayFinances:before {
  content: "";
}
.td-icon-dynamicPreformance:before {
  content: "";
}
.td-icon-easySafety:before {
  content: "";
}
.td-icon-growth:before {
  content: "";
}
.td-icon-growthIncome:before {
  content: "";
}
.td-icon-income:before {
  content: "";
}
.td-icon-incomeGrowth:before {
  content: "";
}
.td-icon-na:before {
  content: "";
}
.td-icon-noSaving:before {
  content: "";
}
.td-icon-savePortion:before {
  content: "";
}
.td-icon-saveWhenever:before {
  content: "";
}
.td-icon-slowSteady:before {
  content: "";
}
.td-icon-AccidentSickness:before {
  content: "";
}
.td-icon-FileAClaim:before {
  content: "";
}
.td-icon-GetAQuote:before {
  content: "";
}
.td-icon-GetAQuote02:before {
  content: "";
}
.td-icon-IRA:before {
  content: "";
}
.td-icon-Login:before {
  content: "";
}
.td-icon-MBNARewards:before {
  content: "";
}
.td-icon-TD:before {
  content: "";
}
.td-icon-TDApp:before {
  content: "";
}
.td-icon-TDEasyWeb:before {
  content: "";
}
.td-icon-TDShield:before {
  content: "";
}
.td-icon-TDdirectInvesting:before {
  content: "";
}
.td-icon-TDwealth:before {
  content: "";
}
.td-icon-accidentReports:before {
  content: "";
}
.td-icon-accounts:before {
  content: "";
}
.td-icon-activateCard:before {
  content: "";
}
.td-icon-aeroplan:before {
  content: "";
}
.td-icon-all:before {
  content: "";
}
.td-icon-allCalculatorTools:before {
  content: "";
}
.td-icon-allProducts:before {
  content: "";
}
.td-icon-applyForFunding:before {
  content: "";
}
.td-icon-approved:before {
  content: "";
}
.td-icon-arrowLeft:before {
  content: "";
}
.td-icon-arrowRight:before {
  content: "";
}
.td-icon-atm:before {
  content: "";
}
.td-icon-attractNewCustomers:before {
  content: "";
}
.td-icon-atv:before {
  content: "";
}
.td-icon-auto:before {
  content: "";
}
.td-icon-avatar:before {
  content: "";
}
.td-icon-balanceTransfer:before {
  content: "";
}
.td-icon-banking:before {
  content: "";
}
.td-icon-bath:before {
  content: "";
}
.td-icon-bed:before {
  content: "";
}
.td-icon-bicycle:before {
  content: "";
}
.td-icon-bookAppointment:before {
  content: "";
}
.td-icon-bookAtBranch:before {
  content: "";
}
.td-icon-borrowing:before {
  content: "";
}
.td-icon-borrowingSolutions:before {
  content: "";
}
.td-icon-branch:before {
  content: "";
}
.td-icon-branchATM:before {
  content: "";
}
.td-icon-business:before {
  content: "";
}
.td-icon-businessChecklist:before {
  content: "";
}
.td-icon-businessOwner:before {
  content: "";
}
.td-icon-cantFindTopic:before {
  content: "";
}
.td-icon-car:before {
  content: "";
}
.td-icon-careers:before {
  content: "";
}
.td-icon-cashBack:before {
  content: "";
}
.td-icon-cashFinances:before {
  content: "";
}
.td-icon-cashflow:before {
  content: "";
}
.td-icon-cashflowImprovement:before {
  content: "";
}
.td-icon-certificateDeposit:before {
  content: "";
}
.td-icon-chat:before {
  content: "";
}
.td-icon-checkMark:before {
  content: "";
}
.td-icon-chequeing:before {
  content: "";
}
.td-icon-chequeing2:before {
  content: "";
}
.td-icon-circle:before {
  content: "";
}
.td-icon-claims:before {
  content: "";
}
.td-icon-close:before {
  content: "";
}
.td-icon-coinsHigh:before {
  content: "";
}
.td-icon-coinsLow:before {
  content: "";
}
.td-icon-coinsMiddle:before {
  content: "";
}
.td-icon-collapse:before {
  content: "";
}
.td-icon-communityNonprofit:before {
  content: "";
}
.td-icon-condo:before {
  content: "";
}
.td-icon-contactUs:before {
  content: "";
}
.td-icon-corporateResponsibility:before {
  content: "";
}
.td-icon-coverage:before {
  content: "";
}
.td-icon-coverageExtra:before {
  content: "";
}
.td-icon-coverageMandatory:before {
  content: "";
}
.td-icon-coverageModify:before {
  content: "";
}
.td-icon-coverageSpecial:before {
  content: "";
}
.td-icon-creditProtection:before {
  content: "";
}
.td-icon-creditcards:before {
  content: "";
}
.td-icon-customers:before {
  content: "";
}
.td-icon-dashboard:before {
  content: "";
}
.td-icon-debt-en:before {
  content: "";
}
.td-icon-debt-fr:before {
  content: "";
}
.td-icon-debtConsolidation:before {
  content: "";
}
.td-icon-delete:before {
  content: "";
}
.td-icon-discount:before {
  content: "";
}
.td-icon-distributionGuide:before {
  content: "";
}
.td-icon-downCaret:before {
  content: "";
}
.td-icon-download:before {
  content: "";
}
.td-icon-downloadBusinessPlanTemplate:before {
  content: "";
}
.td-icon-downloadCertificate:before {
  content: "";
}
.td-icon-earthquake:before {
  content: "";
}
.td-icon-economics:before {
  content: "";
}
.td-icon-edit2:before {
  content: "";
}
.td-icon-edits:before {
  content: "";
}
.td-icon-email:before {
  content: "";
}
.td-icon-employees:before {
  content: "";
}
.td-icon-ensureCompliance:before {
  content: "";
}
.td-icon-error:before {
  content: "";
}
.td-icon-exchangeRateForCash:before {
  content: "";
}
.td-icon-exchangeRateForNonCash:before {
  content: "";
}
.td-icon-expand:before {
  content: "";
}
.td-icon-facebook:before {
  content: "";
}
.td-icon-faqs:before {
  content: "";
}
.td-icon-feedback:before {
  content: "";
}
.td-icon-filter:before {
  content: "";
}
.td-icon-financeSmallBusiness:before {
  content: "";
}
.td-icon-findAcreditcard:before {
  content: "";
}
.td-icon-findTaxEfficiencies:before {
  content: "";
}
.td-icon-firstVehicle:before {
  content: "";
}
.td-icon-flexibleMortgageFeatures:before {
  content: "";
}
.td-icon-forms:before {
  content: "";
}
.td-icon-fraud:before {
  content: "";
}
.td-icon-generateIncome:before {
  content: "";
}
.td-icon-geolocation:before {
  content: "";
}
.td-icon-gicTermDeposits:before {
  content: "";
}
.td-icon-government:before {
  content: "";
}
.td-icon-growMyMoney:before {
  content: "";
}
.td-icon-growYourBusiness:before {
  content: "";
}
.td-icon-growingFamily:before {
  content: "";
}
.td-icon-hamburger:before {
  content: "";
}
.td-icon-handicap:before {
  content: "";
}
.td-icon-healthCarePractitioners:before {
  content: "";
}
.td-icon-help:before {
  content: "";
}
.td-icon-home:before {
  content: "";
}
.td-icon-homeEquityFlexline:before {
  content: "";
}
.td-icon-homepage:before {
  content: "";
}
.td-icon-hours:before {
  content: "";
}
.td-icon-house:before {
  content: "";
}
.td-icon-howTo:before {
  content: "";
}
.td-icon-idea:before {
  content: "";
}
.td-icon-identityTheft:before {
  content: "";
}
.td-icon-improveSales:before {
  content: "";
}
.td-icon-inbox:before {
  content: "";
}
.td-icon-information:before {
  content: "";
}
.td-icon-insights:before {
  content: "";
}
.td-icon-instagram:before {
  content: "";
}
.td-icon-insurance:before {
  content: "";
}
.td-icon-international:before {
  content: "";
}
.td-icon-investTradeOnline:before {
  content: "";
}
.td-icon-investing:before {
  content: "";
}
.td-icon-investingPlatforms:before {
  content: "";
}
.td-icon-investmentTransfers:before {
  content: "";
}
.td-icon-investorRelations:before {
  content: "";
}
.td-icon-languagesSpoken:before {
  content: "";
}
.td-icon-leftCaret:before {
  content: "";
}
.td-icon-life:before {
  content: "";
}
.td-icon-lineOfCredit:before {
  content: "";
}
.td-icon-linkedin:before {
  content: "";
}
.td-icon-loanCalculator:before {
  content: "";
}
.td-icon-location:before {
  content: "";
}
.td-icon-location-coverage:before {
  content: "";
}
.td-icon-locationFeatures:before {
  content: "";
}
.td-icon-logout:before {
  content: "";
}
.td-icon-lowInterest:before {
  content: "";
}
.td-icon-maintenance:before {
  content: "";
}
.td-icon-makeAMajorPurchase:before {
  content: "";
}
.td-icon-manageBusiness:before {
  content: "";
}
.td-icon-manageMoney:before {
  content: "";
}
.td-icon-mapMarker:before {
  content: "";
}
.td-icon-mapMarkerFilled:before {
  content: "";
}
.td-icon-marine:before {
  content: "";
}
.td-icon-mortgages:before {
  content: "";
}
.td-icon-motorHome:before {
  content: "";
}
.td-icon-motorcycle:before {
  content: "";
}
.td-icon-mutualFunds:before {
  content: "";
}
.td-icon-myAdvantage:before {
  content: "";
}
.td-icon-myPolicies:before {
  content: "";
}
.td-icon-myTD:before {
  content: "";
}
.td-icon-navigateVolatility:before {
  content: "";
}
.td-icon-newCouple:before {
  content: "";
}
.td-icon-newHome:before {
  content: "";
}
.td-icon-newPage:before {
  content: "";
}
.td-icon-newRevenueStreams:before {
  content: "";
}
.td-icon-newToCanada:before {
  content: "";
}
.td-icon-noFee:before {
  content: "";
}
.td-icon-offers:before {
  content: "";
}
.td-icon-oilDamage:before {
  content: "";
}
.td-icon-onlinePreapproval:before {
  content: "";
}
.td-icon-orderByPhone:before {
  content: "";
}
.td-icon-orderCashOnline:before {
  content: "";
}
.td-icon-orderStatus:before {
  content: "";
}
.td-icon-overlayLink:before {
  content: "";
}
.td-icon-payBillOnline:before {
  content: "";
}
.td-icon-payBills:before {
  content: "";
}
.td-icon-payUSBill:before {
  content: "";
}
.td-icon-paymentsTransfers:before {
  content: "";
}
.td-icon-pending:before {
  content: "";
}
.td-icon-person:before {
  content: "";
}
.td-icon-personal:before {
  content: "";
}
.td-icon-pinterest:before {
  content: "";
}
.td-icon-preciousMetals:before {
  content: "";
}
.td-icon-preferredAutoVendors:before {
  content: "";
}
.td-icon-prepaidCard:before {
  content: "";
}
.td-icon-priceTag:before {
  content: "";
}
.td-icon-printer:before {
  content: "";
}
.td-icon-products:before {
  content: "";
}
.td-icon-productsAndServices:before {
  content: "";
}
.td-icon-profitIncrease:before {
  content: "";
}
.td-icon-question:before {
  content: "";
}
.td-icon-quote:before {
  content: "";
}
.td-icon-readyCommitment:before {
  content: "";
}
.td-icon-registeredAccounts:before {
  content: "";
}
.td-icon-registrationPasswords:before {
  content: "";
}
.td-icon-renters:before {
  content: "";
}
.td-icon-renters-fr:before {
  content: "";
}
.td-icon-replacementCard:before {
  content: "";
}
.td-icon-requestCertificate:before {
  content: "";
}
.td-icon-resourceCentre:before {
  content: "";
}
.td-icon-retirementPlanning:before {
  content: "";
}
.td-icon-rightCaret:before {
  content: "";
}
.td-icon-saveForSchool:before {
  content: "";
}
.td-icon-savingAndInvesting:before {
  content: "";
}
.td-icon-savings:before {
  content: "";
}
.td-icon-search:before {
  content: "";
}
.td-icon-secondVehicle:before {
  content: "";
}
.td-icon-secureBtn:before {
  content: "";
}
.td-icon-selectADate:before {
  content: "";
}
.td-icon-sendFeedback:before {
  content: "";
}
.td-icon-sendMoney:before {
  content: "";
}
.td-icon-sendMoneyInternationally:before {
  content: "";
}
.td-icon-share:before {
  content: "";
}
.td-icon-shopping:before {
  content: "";
}
.td-icon-smallBusiness:before {
  content: "";
}
.td-icon-snowmobile:before {
  content: "";
}
.td-icon-solutions:before {
  content: "";
}
.td-icon-star:before {
  content: "";
}
.td-icon-startClaim:before {
  content: "";
}
.td-icon-startOver:before {
  content: "";
}
.td-icon-startingUp:before {
  content: "";
}
.td-icon-startingUp-fr:before {
  content: "";
}
.td-icon-startup:before {
  content: "";
}
.td-icon-student:before {
  content: "";
}
.td-icon-successionPlanning:before {
  content: "";
}
.td-icon-superlock:before {
  content: "";
}
.td-icon-swapLocations:before {
  content: "";
}
.td-icon-switchToTDMortgage:before {
  content: "";
}
.td-icon-takeAPhoto:before {
  content: "";
}
.td-icon-taxFreeAccounts:before {
  content: "";
}
.td-icon-tdInsuranceCard:before {
  content: "";
}
.td-icon-tdRewards:before {
  content: "";
}
.td-icon-toOurCustomers:before {
  content: "";
}
.td-icon-todaysRates:before {
  content: "";
}
.td-icon-tools:before {
  content: "";
}
.td-icon-tooltip:before {
  content: "";
}
.td-icon-trade:before {
  content: "";
}
.td-icon-tradingAccounts:before {
  content: "";
}
.td-icon-transfer:before {
  content: "";
}
.td-icon-transit:before {
  content: "";
}
.td-icon-travel:before {
  content: "";
}
.td-icon-travelRewards:before {
  content: "";
}
.td-icon-truck:before {
  content: "";
}
.td-icon-tutorials:before {
  content: "";
}
.td-icon-twitter:before {
  content: "";
}
.td-icon-unexpectedExpenses:before {
  content: "";
}
.td-icon-unsureHome:before {
  content: "";
}
.td-icon-upCaret:before {
  content: "";
}
.td-icon-usDollar:before {
  content: "";
}
.td-icon-vacation:before {
  content: "";
}
.td-icon-vendor:before {
  content: "";
}
.td-icon-videoPlayButton:before {
  content: "";
}
.td-icon-videoPlayButtonCircle:before {
  content: "";
}
.td-icon-walking:before {
  content: "";
}
.td-icon-warning:before {
  content: "";
}
.td-icon-watchlists:before {
  content: "";
}
.td-icon-waterDamage:before {
  content: "";
}
.td-icon-wealthAdvise:before {
  content: "";
}
.td-icon-webBroker:before {
  content: "";
}
.td-icon-whatsNew:before {
  content: "";
}
.td-icon-wifi:before {
  content: "";
}
.td-icon-womenAndHealth:before {
  content: "";
}
.td-icon-workplace:before {
  content: "";
}
.td-icon-writeBusinessPlan:before {
  content: "";
}
.td-icon-youngAndSingle:before {
  content: "";
}
.td-icon-youthAccount:before {
  content: "";
}
.td-icon-youtube:before {
  content: "";
}

/*# sourceMappingURL=icons.css.map */
/*! td-emerald-standards - v1.11.4 - 2020-08-17, 02:08:43 */
